# DataFrame Basics Exercise

## Part 1
* Use pandas to read the `bestsellers` dataset into a DataFrame 
* Once you've done that, use Pandas to figure out how many rows and columns the DF has
* Inspect the first 5 rows
* Inspect the first 19 rows
* Inspect the last 5 rows
* Inspect the last 2 rows 
* Which columns (if any) are missing values?
* What datatype did Pandas assign to "User Rating"?
* How many integer columns are in the DataFrame?

## Part 2

* The `mount_everest_deaths` dataset has its own index column provided in the dataset.  When importing it, use the existing index column.
* Which columns have zero null values?
* Which column has the most null values?

## Part 3
* Import the `movie_titles.tsv` dataset
* You'll notice that it is not comma-separated! You'll need to tell `read_csv` what the separator actually is.
* The dataset does not come with its own column headings, so you'll need to provide those as well.  The columns are, in order, `id`, `title`, `year`, `imdb_rating`, `imdb_id`, and `genres`
* Once you have successfully read the dataset into a DataFrame, inspect the last 7 rows!

# DataFrame Analysis Exercise

**Using the `bestsellers.csv` dataset, answer the following questions:**

* Find the lowest User Rating in the DF
* Find the highest Price in the DF
* What is the average User Rating?
* What the average User Rating of the first 5 rows?
* What User Review score appeared the most?
* What is the total (sum) of all the values in the Reviews column?
* How many different authors are featured in the dataset?
* Which author wrote the most number of books on the list?  How many did they write?

# Indexes & Sorting

## Part 1
* Import the `pokemon.csv` dataset
* Make the Name column the index (do it in place on the original DataFrame!)

## Part 2
* Sort the pokemon by the Attack column, from highest to lowest
* Sort the pokemon by the Num column, from lowest to highest, in place.
* Sort the pokemon by the Total column AND the Attack column (in that order!) from highest to lowest
* Sort the pokemon by their index, from lowest to highest, in place (From A-Z)

## Part 3

* Find the average Speed of the 10 pokemon with the highest Speed.
* Of the top 20 pokemon with the highest Attack values, what is the most common value for "Type 1"?

## Part 4
* Retrieve the row with the index label of "Diglett"
* Retrieve the rows for the two fox-like Pokemon: Eevee and Vulpix
* Make sure your DataFrame is sorted by index (A-Z).  Retrieve the rows from Charizard to Charmeleon.  You should get three rows back.
* Retrieve the 30th, 40th, and 50th rows by position.

## Part 5
* Retrieve the rows of the fish-like Pokemon.  Use this list to make it easier:
```py
fish_pokemon = ["Magikarp", "Goldeen","Horsea", "Seaking", "Seadra","Gyarados"]
```